<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Classify Image</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/classify">Classify</a>
        <a href="/history">History</a>
    </nav>
    <div class="container">
        <h1>Classify an Image</h1>
        <form action="/classify" method="post" enctype="multipart/form-data">
            <label for="file">Upload an image:</label>
            <input type="file" name="file" id="file" accept="image/*" required>
            <button type="submit">Classify</button>
        </form>
        {% if result %}
        <h2>Result: {{ result }}</h2>
        <p>Image: <a href="{{ image_path }}" target="_blank"> <img src={{ image_path }} alt="My Image" height="100" width="100"> </a></p>
        {% endif %}
    </div>
</body>
</html>
