<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Smile Classifier</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/classify">Classify</a>
        <a href="/history">History</a>
    </nav>
    <div class="container">
        <h1>Welcome to the Smile Classifier</h1>
        <p>Our Smile Classifier model is designed to detect facial expressions and classify images into two categories:
            Smiling and Not Smiling. Using a labeled dataset of face images, the model preprocesses input data by
            resizing it to 32x32 pixels, normalizing the pixel values, and encoding labels into numeric formats.
            Leveraging Python libraries like PIL and scikit-learn, we built and trained the model to achieve high
            accuracy in recognizing smiles. This classifier demonstrates practical applications in emotion detection
            and facial analysis tasks</p>
    </div>
</body>
</html>
